/* images */
div.floatright, table.floatright {
    clear: right;
    float: right;
    position: relative;
    margin: 0 0 .5em .5em;
    border: 0;
    /*
        border: .5em solid white;
        border-width: .5em 0 .8em 1.4em;
    */
}
div.floatright p { font-style: italic; }
div.floatleft, table.floatleft {
    float: left;
    clear: left;
    position: relative;
    margin: 0 .5em .5em 0;
    border: 0;
    /*
        margin: .3em .5em .5em 0;
        border: .5em solid white;
        border-width: .5em 1.4em .8em 0;
    */
}
div.floatleft p { font-style: italic; }
/* thumbnails */
div.thumb {
    margin-bottom: .5em;
    border-style: solid;
    border-color: white;
    width: auto;
}
div.thumbinner {
    border: 1px solid #ccc;
    padding: 3px !important;
    background-color: #f9f9f9;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
}
html .thumbimage {
    border: 1px solid #ccc;
}
.thumbinner .thumbimage  {
    max-width: 200px;
}
html .thumbcaption {
    border: none;
    text-align: left;
    line-height: 1.4em;
    padding: 3px !important;
    font-size: 94%;
}
div.tright {
    clear: right;
    float: right;
    border-width: .5em 0 .8em 1.4em;
}
div.tleft {
    float: left;
    clear: left;
    margin-right: .5em;
    border-width: .5em 1.4em .8em 0;
}
img.thumbborder {
    border: 1px solid #dddddd;
}
.hiddenStructure {
    display: none;
}
/*
** keep the whitespace in front of the ^=, hides rule from konqueror
** this is css3, the validator doesn't like it when validating as css2
*/
#bodyContent a.external,
#bodyContent a[href ^="gopher://"] {
    background: url(external.png) center right no-repeat;
    padding-right: 13px;
}
#bodyContent a[href ^="https://"],
.link-https {
    background: url(lock_icon.gif) center right no-repeat;
    padding-right: 16px;
}
#bodyContent a[href ^="mailto:"],
.link-mailto {
    background: url(mail_icon.gif) center right no-repeat;
    padding-right: 18px;
}
#bodyContent a[href ^="news://"] {
    background: url(news_icon.png) center right no-repeat;
    padding-right: 18px;
}
#bodyContent a[href ^="ftp://"],
.link-ftp {
    background: url(file_icon.gif) center right no-repeat;
    padding-right: 18px;
}
#bodyContent a[href ^="irc://"],
.link-irc {
    background: url(discussionitem_icon.gif) center right no-repeat;
    padding-right: 18px;
}
